@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
.event{
    width:100%;
    height:94vh;
    box-sizing:border-box;
    padding:0px 50px;
}
*{
    box-sizing:border-box;
}
.event-title{
   font-size:40px;
   font-family:'Rubik', sans-serif;
   text-align:center;
   margin:70px 0;
   color:#2E1568;
   margin-bottom:0;
   width:350px;
}

.card1{
    width:200px;
    display:flex;
    flex-direction:column;
    border-radius:20px;
}
.card-image{
    width:100%;
    border-radius:20px 20px 0 0;
    height:150px;
}
.technical-event{
    display:grid;
    grid-template-columns:repeat(4,200px);
    grid-gap:40px;
    width:max-content;
    margin:auto;
    align-items:center;
}

.techinal-event-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:94%;
    box-sizing:border-box;
}
.event-1{
    width:100%;
    height:94vh;
    box-sizing:border-box;
    padding:0px 50px;
    background-color:#F3EEFF;
}
.title{
    display:block;
    width:100%;
   font-family:'Rubik', sans-serif;
   font-size:14px;
   color:white;
   background-color:#2E1568;
   text-align:center;
   padding:10px 0px;
   border-radius:0 0 20px 20px;
}
.register-link{
    display:block;
    width:200px;
    background-color:#2E1568;
    color:white;
    text-decoration:white;
    padding:10px 0;
    text-align:center;
    border-radius:40px;
    font-family:'Rubik', sans-serif;
    font-size:16px;
    margin:auto;
}
.Register-fee{
    font-family: 'Rubik',sans-serif;
    font-size:14px;
    display:block;
    margin-top:10px;
    text-align:center;
}
div.register-container{
    
}
@media (max-width:1100px)
{
    .technical-event{
        
    grid-template-columns:repeat(3,200px);
    }
    .event{
        height:1100px;
        padding-bottom:20px;
    }
    .event-1{
        height:850px;
    }
}
@media (max-width:800px)
{
    .technical-event{
        
    grid-template-columns:repeat(1,200px);
    }
    .event{
        height:2000px;
        padding-bottom:20px;
    }
    .event-1{
        height:1800px;
    }
}